--
-- PostgreSQL database dump
--

\restrict rYooZTqGKHyeABIDiFlncj83PTaHBJYNtEFizg6BIl9fBcrAw7XOVSK7PuOy4VB

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY elearning.videos DROP CONSTRAINT IF EXISTS fk_video_lesson;
ALTER TABLE IF EXISTS ONLY elearning.videos DROP CONSTRAINT IF EXISTS fk_video_file;
ALTER TABLE IF EXISTS ONLY elearning.users DROP CONSTRAINT IF EXISTS fk_users_avatar;
ALTER TABLE IF EXISTS ONLY elearning.sections DROP CONSTRAINT IF EXISTS fk_section_course;
ALTER TABLE IF EXISTS ONLY elearning.quizzes DROP CONSTRAINT IF EXISTS fk_quiz_lesson;
ALTER TABLE IF EXISTS ONLY elearning.questions DROP CONSTRAINT IF EXISTS fk_question_quiz;
ALTER TABLE IF EXISTS ONLY elearning.lesson_progress DROP CONSTRAINT IF EXISTS fk_progress_student;
ALTER TABLE IF EXISTS ONLY elearning.lesson_progress DROP CONSTRAINT IF EXISTS fk_progress_lesson;
ALTER TABLE IF EXISTS ONLY elearning.payments DROP CONSTRAINT IF EXISTS fk_payment_student;
ALTER TABLE IF EXISTS ONLY elearning.payments DROP CONSTRAINT IF EXISTS fk_payment_course;
ALTER TABLE IF EXISTS ONLY elearning.notifications DROP CONSTRAINT IF EXISTS fk_notification_user;
ALTER TABLE IF EXISTS ONLY elearning.notifications DROP CONSTRAINT IF EXISTS fk_notification_activity;
ALTER TABLE IF EXISTS ONLY elearning.reading_materials DROP CONSTRAINT IF EXISTS fk_material_lesson;
ALTER TABLE IF EXISTS ONLY elearning.lessons DROP CONSTRAINT IF EXISTS fk_lesson_section;
ALTER TABLE IF EXISTS ONLY elearning.enrollments DROP CONSTRAINT IF EXISTS fk_enrollment_student;
ALTER TABLE IF EXISTS ONLY elearning.enrollments DROP CONSTRAINT IF EXISTS fk_enrollment_course;
ALTER TABLE IF EXISTS ONLY elearning.courses DROP CONSTRAINT IF EXISTS fk_course_thumbnail;
ALTER TABLE IF EXISTS ONLY elearning.courses DROP CONSTRAINT IF EXISTS fk_course_instructor;
ALTER TABLE IF EXISTS ONLY elearning.courses DROP CONSTRAINT IF EXISTS fk_course_category;
ALTER TABLE IF EXISTS ONLY elearning.quiz_attempts DROP CONSTRAINT IF EXISTS fk_attempt_student;
ALTER TABLE IF EXISTS ONLY elearning.quiz_attempts DROP CONSTRAINT IF EXISTS fk_attempt_quiz;
ALTER TABLE IF EXISTS ONLY elearning.lesson_assets DROP CONSTRAINT IF EXISTS fk_asset_lesson;
ALTER TABLE IF EXISTS ONLY elearning.lesson_assets DROP CONSTRAINT IF EXISTS fk_asset_file;
ALTER TABLE IF EXISTS ONLY elearning.answers DROP CONSTRAINT IF EXISTS fk_answer_question;
ALTER TABLE IF EXISTS ONLY elearning.system_activities DROP CONSTRAINT IF EXISTS fk_activity_actor;
DROP INDEX IF EXISTS elearning.idx_users_email;
DROP INDEX IF EXISTS elearning.idx_notification_user;
DROP INDEX IF EXISTS elearning.idx_files_type;
ALTER TABLE IF EXISTS ONLY elearning.videos DROP CONSTRAINT IF EXISTS videos_pkey;
ALTER TABLE IF EXISTS ONLY elearning.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY elearning.users DROP CONSTRAINT IF EXISTS users_phone_key;
ALTER TABLE IF EXISTS ONLY elearning.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY elearning.lesson_progress DROP CONSTRAINT IF EXISTS uq_student_lesson;
ALTER TABLE IF EXISTS ONLY elearning.enrollments DROP CONSTRAINT IF EXISTS uq_student_course;
ALTER TABLE IF EXISTS ONLY elearning.lessons DROP CONSTRAINT IF EXISTS uq_section_lesson_order;
ALTER TABLE IF EXISTS ONLY elearning.sections DROP CONSTRAINT IF EXISTS uq_course_section_order;
ALTER TABLE IF EXISTS ONLY elearning.system_activities DROP CONSTRAINT IF EXISTS system_activities_pkey;
ALTER TABLE IF EXISTS ONLY elearning.sections DROP CONSTRAINT IF EXISTS sections_pkey;
ALTER TABLE IF EXISTS ONLY elearning.reading_materials DROP CONSTRAINT IF EXISTS reading_materials_pkey;
ALTER TABLE IF EXISTS ONLY elearning.quizzes DROP CONSTRAINT IF EXISTS quizzes_pkey;
ALTER TABLE IF EXISTS ONLY elearning.quiz_attempts DROP CONSTRAINT IF EXISTS quiz_attempts_pkey;
ALTER TABLE IF EXISTS ONLY elearning.questions DROP CONSTRAINT IF EXISTS questions_pkey;
ALTER TABLE IF EXISTS ONLY elearning.payments DROP CONSTRAINT IF EXISTS payments_transaction_code_key;
ALTER TABLE IF EXISTS ONLY elearning.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY elearning.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY elearning.lessons DROP CONSTRAINT IF EXISTS lessons_pkey;
ALTER TABLE IF EXISTS ONLY elearning.lesson_progress DROP CONSTRAINT IF EXISTS lesson_progress_pkey;
ALTER TABLE IF EXISTS ONLY elearning.lesson_assets DROP CONSTRAINT IF EXISTS lesson_assets_pkey;
ALTER TABLE IF EXISTS ONLY elearning.files DROP CONSTRAINT IF EXISTS files_pkey;
ALTER TABLE IF EXISTS ONLY elearning.enrollments DROP CONSTRAINT IF EXISTS enrollments_pkey;
ALTER TABLE IF EXISTS ONLY elearning.courses DROP CONSTRAINT IF EXISTS courses_pkey;
ALTER TABLE IF EXISTS ONLY elearning.categories DROP CONSTRAINT IF EXISTS categories_pkey;
ALTER TABLE IF EXISTS ONLY elearning.categories DROP CONSTRAINT IF EXISTS categories_category_name_key;
ALTER TABLE IF EXISTS ONLY elearning.answers DROP CONSTRAINT IF EXISTS answers_pkey;
ALTER TABLE IF EXISTS elearning.videos ALTER COLUMN video_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.users ALTER COLUMN user_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.system_activities ALTER COLUMN activity_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.sections ALTER COLUMN section_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.reading_materials ALTER COLUMN material_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.quizzes ALTER COLUMN quiz_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.quiz_attempts ALTER COLUMN attempt_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.questions ALTER COLUMN question_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.payments ALTER COLUMN payment_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.notifications ALTER COLUMN notification_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.lessons ALTER COLUMN lesson_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.lesson_progress ALTER COLUMN progress_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.lesson_assets ALTER COLUMN asset_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.files ALTER COLUMN file_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.enrollments ALTER COLUMN enrollment_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.courses ALTER COLUMN course_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.categories ALTER COLUMN category_id DROP DEFAULT;
ALTER TABLE IF EXISTS elearning.answers ALTER COLUMN answer_id DROP DEFAULT;
DROP SEQUENCE IF EXISTS elearning.videos_video_id_seq;
DROP TABLE IF EXISTS elearning.videos;
DROP SEQUENCE IF EXISTS elearning.users_user_id_seq;
DROP TABLE IF EXISTS elearning.users;
DROP SEQUENCE IF EXISTS elearning.system_activities_activity_id_seq;
DROP TABLE IF EXISTS elearning.system_activities;
DROP SEQUENCE IF EXISTS elearning.sections_section_id_seq;
DROP TABLE IF EXISTS elearning.sections;
DROP SEQUENCE IF EXISTS elearning.reading_materials_material_id_seq;
DROP TABLE IF EXISTS elearning.reading_materials;
DROP SEQUENCE IF EXISTS elearning.quizzes_quiz_id_seq;
DROP TABLE IF EXISTS elearning.quizzes;
DROP SEQUENCE IF EXISTS elearning.quiz_attempts_attempt_id_seq;
DROP TABLE IF EXISTS elearning.quiz_attempts;
DROP SEQUENCE IF EXISTS elearning.questions_question_id_seq;
DROP TABLE IF EXISTS elearning.questions;
DROP SEQUENCE IF EXISTS elearning.payments_payment_id_seq;
DROP TABLE IF EXISTS elearning.payments;
DROP SEQUENCE IF EXISTS elearning.notifications_notification_id_seq;
DROP TABLE IF EXISTS elearning.notifications;
DROP SEQUENCE IF EXISTS elearning.lessons_lesson_id_seq;
DROP TABLE IF EXISTS elearning.lessons;
DROP SEQUENCE IF EXISTS elearning.lesson_progress_progress_id_seq;
DROP TABLE IF EXISTS elearning.lesson_progress;
DROP SEQUENCE IF EXISTS elearning.lesson_assets_asset_id_seq;
DROP TABLE IF EXISTS elearning.lesson_assets;
DROP SEQUENCE IF EXISTS elearning.files_file_id_seq;
DROP TABLE IF EXISTS elearning.files;
DROP SEQUENCE IF EXISTS elearning.enrollments_enrollment_id_seq;
DROP TABLE IF EXISTS elearning.enrollments;
DROP SEQUENCE IF EXISTS elearning.courses_course_id_seq;
DROP TABLE IF EXISTS elearning.courses;
DROP SEQUENCE IF EXISTS elearning.categories_category_id_seq;
DROP TABLE IF EXISTS elearning.categories;
DROP SEQUENCE IF EXISTS elearning.answers_answer_id_seq;
DROP TABLE IF EXISTS elearning.answers;
DROP SCHEMA IF EXISTS elearning;
--
-- Name: elearning; Type: SCHEMA; Schema: -; Owner: elearning_user
--

CREATE SCHEMA elearning;


ALTER SCHEMA elearning OWNER TO elearning_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.answers (
    answer_id bigint NOT NULL,
    question_id bigint NOT NULL,
    answer_text text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL
);


ALTER TABLE elearning.answers OWNER TO elearning_user;

--
-- Name: answers_answer_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.answers_answer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.answers_answer_id_seq OWNER TO elearning_user;

--
-- Name: answers_answer_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.answers_answer_id_seq OWNED BY elearning.answers.answer_id;


--
-- Name: categories; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.categories (
    category_id integer NOT NULL,
    category_name character varying(100) NOT NULL,
    description text
);


ALTER TABLE elearning.categories OWNER TO elearning_user;

--
-- Name: categories_category_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.categories_category_id_seq OWNER TO elearning_user;

--
-- Name: categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.categories_category_id_seq OWNED BY elearning.categories.category_id;


--
-- Name: courses; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.courses (
    course_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    what_you_will_learn text,
    thumbnail_file_id bigint,
    price numeric(10,2) DEFAULT 0 NOT NULL,
    is_free boolean DEFAULT true NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    instructor_id bigint NOT NULL,
    category_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_course_status CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'HIDDEN'::character varying])::text[])))
);


ALTER TABLE elearning.courses OWNER TO elearning_user;

--
-- Name: courses_course_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.courses_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.courses_course_id_seq OWNER TO elearning_user;

--
-- Name: courses_course_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.courses_course_id_seq OWNED BY elearning.courses.course_id;


--
-- Name: enrollments; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.enrollments (
    enrollment_id bigint NOT NULL,
    student_id bigint NOT NULL,
    course_id bigint NOT NULL,
    enroll_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'ACTIVE'::character varying
);


ALTER TABLE elearning.enrollments OWNER TO elearning_user;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.enrollments_enrollment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.enrollments_enrollment_id_seq OWNER TO elearning_user;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.enrollments_enrollment_id_seq OWNED BY elearning.enrollments.enrollment_id;


--
-- Name: files; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.files (
    file_id bigint NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path text NOT NULL,
    file_type character varying(50),
    file_size bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.files OWNER TO elearning_user;

--
-- Name: files_file_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.files_file_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.files_file_id_seq OWNER TO elearning_user;

--
-- Name: files_file_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.files_file_id_seq OWNED BY elearning.files.file_id;


--
-- Name: lesson_assets; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.lesson_assets (
    asset_id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    file_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.lesson_assets OWNER TO elearning_user;

--
-- Name: lesson_assets_asset_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.lesson_assets_asset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.lesson_assets_asset_id_seq OWNER TO elearning_user;

--
-- Name: lesson_assets_asset_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.lesson_assets_asset_id_seq OWNED BY elearning.lesson_assets.asset_id;


--
-- Name: lesson_progress; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.lesson_progress (
    progress_id bigint NOT NULL,
    student_id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    is_completed boolean DEFAULT false,
    completed_at timestamp without time zone
);


ALTER TABLE elearning.lesson_progress OWNER TO elearning_user;

--
-- Name: lesson_progress_progress_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.lesson_progress_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.lesson_progress_progress_id_seq OWNER TO elearning_user;

--
-- Name: lesson_progress_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.lesson_progress_progress_id_seq OWNED BY elearning.lesson_progress.progress_id;


--
-- Name: lessons; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.lessons (
    lesson_id bigint NOT NULL,
    section_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    lesson_type character varying(20) NOT NULL,
    description text,
    lesson_order integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_lesson_type CHECK (((lesson_type)::text = ANY ((ARRAY['VIDEO'::character varying, 'DOCUMENT'::character varying, 'QUIZ'::character varying])::text[])))
);


ALTER TABLE elearning.lessons OWNER TO elearning_user;

--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.lessons_lesson_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.lessons_lesson_id_seq OWNER TO elearning_user;

--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.lessons_lesson_id_seq OWNED BY elearning.lessons.lesson_id;


--
-- Name: notifications; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.notifications (
    notification_id bigint NOT NULL,
    user_id bigint NOT NULL,
    activity_id bigint,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.notifications OWNER TO elearning_user;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.notifications_notification_id_seq OWNER TO elearning_user;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.notifications_notification_id_seq OWNED BY elearning.notifications.notification_id;


--
-- Name: payments; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.payments (
    payment_id bigint NOT NULL,
    student_id bigint NOT NULL,
    course_id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(30) NOT NULL,
    transaction_code character varying(255),
    payment_status character varying(20) NOT NULL,
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_payment_status CHECK (((payment_status)::text = ANY ((ARRAY['PENDING'::character varying, 'SUCCESS'::character varying, 'FAILED'::character varying, 'REFUNDED'::character varying])::text[])))
);


ALTER TABLE elearning.payments OWNER TO elearning_user;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.payments_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.payments_payment_id_seq OWNER TO elearning_user;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.payments_payment_id_seq OWNED BY elearning.payments.payment_id;


--
-- Name: questions; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.questions (
    question_id bigint NOT NULL,
    quiz_id bigint NOT NULL,
    question_text text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.questions OWNER TO elearning_user;

--
-- Name: questions_question_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.questions_question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.questions_question_id_seq OWNER TO elearning_user;

--
-- Name: questions_question_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.questions_question_id_seq OWNED BY elearning.questions.question_id;


--
-- Name: quiz_attempts; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.quiz_attempts (
    attempt_id bigint NOT NULL,
    student_id bigint NOT NULL,
    quiz_id bigint NOT NULL,
    score numeric(5,2),
    is_passed boolean,
    started_at timestamp without time zone,
    submitted_at timestamp without time zone
);


ALTER TABLE elearning.quiz_attempts OWNER TO elearning_user;

--
-- Name: quiz_attempts_attempt_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.quiz_attempts_attempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.quiz_attempts_attempt_id_seq OWNER TO elearning_user;

--
-- Name: quiz_attempts_attempt_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.quiz_attempts_attempt_id_seq OWNED BY elearning.quiz_attempts.attempt_id;


--
-- Name: quizzes; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.quizzes (
    quiz_id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    passing_score integer DEFAULT 50,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.quizzes OWNER TO elearning_user;

--
-- Name: quizzes_quiz_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.quizzes_quiz_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.quizzes_quiz_id_seq OWNER TO elearning_user;

--
-- Name: quizzes_quiz_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.quizzes_quiz_id_seq OWNED BY elearning.quizzes.quiz_id;


--
-- Name: reading_materials; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.reading_materials (
    material_id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    content_html text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.reading_materials OWNER TO elearning_user;

--
-- Name: reading_materials_material_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.reading_materials_material_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.reading_materials_material_id_seq OWNER TO elearning_user;

--
-- Name: reading_materials_material_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.reading_materials_material_id_seq OWNED BY elearning.reading_materials.material_id;


--
-- Name: sections; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.sections (
    section_id bigint NOT NULL,
    course_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    section_order integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.sections OWNER TO elearning_user;

--
-- Name: sections_section_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.sections_section_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.sections_section_id_seq OWNER TO elearning_user;

--
-- Name: sections_section_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.sections_section_id_seq OWNED BY elearning.sections.section_id;


--
-- Name: system_activities; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.system_activities (
    activity_id bigint NOT NULL,
    actor_id bigint,
    action_type character varying(50) NOT NULL,
    target_id bigint,
    target_type character varying(50),
    metadata json,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE elearning.system_activities OWNER TO elearning_user;

--
-- Name: system_activities_activity_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.system_activities_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.system_activities_activity_id_seq OWNER TO elearning_user;

--
-- Name: system_activities_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.system_activities_activity_id_seq OWNED BY elearning.system_activities.activity_id;


--
-- Name: users; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.users (
    user_id bigint NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    avatar_file_id bigint,
    phone character varying(20),
    date_of_birth date,
    role character varying(20) NOT NULL,
    status boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_role CHECK (((role)::text = ANY ((ARRAY['ROLE_STUDENT'::character varying, 'ROLE_INSTRUCTOR'::character varying, 'ROLE_ADMIN'::character varying, 'ROLE_SUPER_ADMIN'::character varying])::text[])))
);


ALTER TABLE elearning.users OWNER TO elearning_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.users_user_id_seq OWNER TO elearning_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.users_user_id_seq OWNED BY elearning.users.user_id;


--
-- Name: videos; Type: TABLE; Schema: elearning; Owner: elearning_user
--

CREATE TABLE elearning.videos (
    video_id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    video_type character varying(20) NOT NULL,
    video_file_id bigint,
    youtube_url character varying(500),
    duration integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_video_type CHECK (((video_type)::text = ANY ((ARRAY['UPLOAD'::character varying, 'YOUTUBE'::character varying])::text[])))
);


ALTER TABLE elearning.videos OWNER TO elearning_user;

--
-- Name: videos_video_id_seq; Type: SEQUENCE; Schema: elearning; Owner: elearning_user
--

CREATE SEQUENCE elearning.videos_video_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE elearning.videos_video_id_seq OWNER TO elearning_user;

--
-- Name: videos_video_id_seq; Type: SEQUENCE OWNED BY; Schema: elearning; Owner: elearning_user
--

ALTER SEQUENCE elearning.videos_video_id_seq OWNED BY elearning.videos.video_id;


--
-- Name: answers answer_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.answers ALTER COLUMN answer_id SET DEFAULT nextval('elearning.answers_answer_id_seq'::regclass);


--
-- Name: categories category_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.categories ALTER COLUMN category_id SET DEFAULT nextval('elearning.categories_category_id_seq'::regclass);


--
-- Name: courses course_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.courses ALTER COLUMN course_id SET DEFAULT nextval('elearning.courses_course_id_seq'::regclass);


--
-- Name: enrollments enrollment_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.enrollments ALTER COLUMN enrollment_id SET DEFAULT nextval('elearning.enrollments_enrollment_id_seq'::regclass);


--
-- Name: files file_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.files ALTER COLUMN file_id SET DEFAULT nextval('elearning.files_file_id_seq'::regclass);


--
-- Name: lesson_assets asset_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_assets ALTER COLUMN asset_id SET DEFAULT nextval('elearning.lesson_assets_asset_id_seq'::regclass);


--
-- Name: lesson_progress progress_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_progress ALTER COLUMN progress_id SET DEFAULT nextval('elearning.lesson_progress_progress_id_seq'::regclass);


--
-- Name: lessons lesson_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lessons ALTER COLUMN lesson_id SET DEFAULT nextval('elearning.lessons_lesson_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.notifications ALTER COLUMN notification_id SET DEFAULT nextval('elearning.notifications_notification_id_seq'::regclass);


--
-- Name: payments payment_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.payments ALTER COLUMN payment_id SET DEFAULT nextval('elearning.payments_payment_id_seq'::regclass);


--
-- Name: questions question_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.questions ALTER COLUMN question_id SET DEFAULT nextval('elearning.questions_question_id_seq'::regclass);


--
-- Name: quiz_attempts attempt_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quiz_attempts ALTER COLUMN attempt_id SET DEFAULT nextval('elearning.quiz_attempts_attempt_id_seq'::regclass);


--
-- Name: quizzes quiz_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quizzes ALTER COLUMN quiz_id SET DEFAULT nextval('elearning.quizzes_quiz_id_seq'::regclass);


--
-- Name: reading_materials material_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.reading_materials ALTER COLUMN material_id SET DEFAULT nextval('elearning.reading_materials_material_id_seq'::regclass);


--
-- Name: sections section_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.sections ALTER COLUMN section_id SET DEFAULT nextval('elearning.sections_section_id_seq'::regclass);


--
-- Name: system_activities activity_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.system_activities ALTER COLUMN activity_id SET DEFAULT nextval('elearning.system_activities_activity_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.users ALTER COLUMN user_id SET DEFAULT nextval('elearning.users_user_id_seq'::regclass);


--
-- Name: videos video_id; Type: DEFAULT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.videos ALTER COLUMN video_id SET DEFAULT nextval('elearning.videos_video_id_seq'::regclass);


--
-- Data for Name: answers; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.answers VALUES (1, 1, 'Ph├╣ hß╗úp vß╗¢i t├¡nh chß║Ñt 1', false);
INSERT INTO elearning.answers VALUES (2, 1, '─É├íp ├ín ch├¡nh x├íc cho phß║ºn Giß╗¢i thiß╗çu kh├│a hß╗ìc', true);
INSERT INTO elearning.answers VALUES (3, 1, 'Ph├╣ hß╗úp vß╗¢i t├¡nh chß║Ñt 3', false);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.categories VALUES (1, 'Lß║¡p tr├¼nh Web', 'Trang bß╗ï kiß║┐n thß╗⌐c to├án diß╗çn vß╗ü Frontend (React, Vue) v├á Backend (NodeJS, Java, PHP). Gi├║p bß║ín tß╗▒ tin x├óy dß╗▒ng mß╗Öt website ho├án chß╗ënh tß╗½ con sß╗æ 0, ├íp dß╗Ñng c├íc best practices cß╗ºa ng├ánh c├┤ng nghiß╗çp phß║ºn mß╗üm.');
INSERT INTO elearning.categories VALUES (2, 'Lß║¡p tr├¼nh Di ─æß╗Öng', 'Kh├│a hß╗ìc h╞░ß╗¢ng dß║½n lß║¡p tr├¼nh ß╗⌐ng dß╗Ñng di ─æß╗Öng cho cß║ú nß╗ün tß║úng iOS v├á Android sß╗¡ dß╗Ñng c├íc framework phß╗ò biß║┐n nh╞░ Flutter, React Native, Swift. Tß╗▒ tin ß╗⌐ng tuyß╗ân v├áo c├íc c├┤ng ty ph├ít triß╗ân App.');
INSERT INTO elearning.categories VALUES (3, 'Khoa hß╗ìc Dß╗» liß╗çu & AI', 'Kh├ím ph├í thß║┐ giß╗¢i cß╗ºa Data Science, Machine Learning v├á Tr├¡ tuß╗ç nh├ón tß║ío (AI). Ph├ón t├¡ch dß╗» liß╗çu bß║▒ng Python, SQL v├á c├íc th╞░ viß╗çn chuy├¬n s├óu, ß╗⌐ng dß╗Ñng AI ─æß╗â giß║úi quyß║┐t c├íc b├ái to├ín thß╗▒c tiß╗àn.');


--
-- Data for Name: courses; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--



--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.enrollments VALUES (1, 3, 1, '2026-06-26 14:22:07.768775', 'ACTIVE');
INSERT INTO elearning.enrollments VALUES (2, 3, 2, '2026-06-26 14:22:07.768775', 'ACTIVE');
INSERT INTO elearning.enrollments VALUES (3, 4, 1, '2026-06-26 14:22:07.768775', 'ACTIVE');


--
-- Data for Name: files; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.files VALUES (1, 'avatar_admin.png', 'uploads/b55337e7-b28d-4f9f-9c2f-3daac57b2267.png', 'image/png', 68577, '2026-06-26 14:22:07.317064');
INSERT INTO elearning.files VALUES (2, 'avatar_student1.png', 'uploads/e7ae2485-39c3-4082-b73c-577ff81838c6.png', 'image/png', 29234, '2026-06-26 14:22:07.317064');
INSERT INTO elearning.files VALUES (3, 'avatar_instructor1.png', 'uploads/f15be555-0a45-4a77-abf5-1d28ca1eec45.png', 'image/png', 41090, '2026-06-26 14:22:07.317064');


--
-- Data for Name: lesson_assets; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.lesson_assets VALUES (1, 1, 7, '2026-06-26 14:22:07.77564');
INSERT INTO elearning.lesson_assets VALUES (2, 2, 7, '2026-06-26 14:22:07.77564');
INSERT INTO elearning.lesson_assets VALUES (3, 3, 7, '2026-06-26 14:22:07.77564');


--
-- Data for Name: lesson_progress; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.lesson_progress VALUES (1, 3, 1, true, NULL);
INSERT INTO elearning.lesson_progress VALUES (2, 3, 2, true, NULL);
INSERT INTO elearning.lesson_progress VALUES (3, 3, 3, true, NULL);


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.lessons VALUES (1, 1, 'Giß╗¢i thiß╗çu kh├│a hß╗ìc', 'VIDEO', 'M├┤ tß║ú b├ái hß╗ìc: Giß╗¢i thiß╗çu kh├│a hß╗ìc', 1, '2026-06-26 14:22:07.398518', '2026-06-26 14:22:07.398518');
INSERT INTO elearning.lessons VALUES (2, 1, 'C├ái ─æß║╖t m├┤i tr╞░ß╗¥ng (JDK, NodeJS)', 'VIDEO', 'M├┤ tß║ú b├ái hß╗ìc: C├ái ─æß║╖t m├┤i tr╞░ß╗¥ng (JDK, NodeJS)', 2, '2026-06-26 14:22:07.398518', '2026-06-26 14:22:07.398518');
INSERT INTO elearning.lessons VALUES (3, 1, 'T╞░ duy Fullstack', 'VIDEO', 'M├┤ tß║ú b├ái hß╗ìc: T╞░ duy Fullstack', 3, '2026-06-26 14:22:07.398518', '2026-06-26 14:22:07.398518');


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.notifications VALUES (2, 7, NULL, 'Hß╗ìc vi├¬n mß╗¢i', 'Hß╗ìc vi├¬n Nguyß╗àn Trß╗ìng Khoa vß╗½a ─æ─âng k├╜ kh├│a hß╗ìc: Kß╗╣ N─âng Giao Tiß║┐p v├á Thuyß║┐t Tr├¼nh Thu H├║t Tß║íi N╞íi C├┤ng Sß╗ƒ', 'NEW_ENROLLMENT', false, '2026-06-26 15:36:24.405525');


--
-- Data for Name: payments; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.payments VALUES (1, 3, 1, 1200000.00, 'MoMo', 'MOMO_8A3B2F89C1', 'SUCCESS', NULL, '2026-06-26 14:22:07.792588');
INSERT INTO elearning.payments VALUES (2, 3, 2, 800000.00, 'VNPay', 'VNPAY_ABCXYZ987', 'SUCCESS', NULL, '2026-06-26 14:22:07.792588');
INSERT INTO elearning.payments VALUES (3, 4, 1, 1200000.00, 'VNPay', 'VNPAY_7283B291A', 'SUCCESS', NULL, '2026-06-26 14:22:07.792588');


--
-- Data for Name: questions; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.questions VALUES (1, 1, 'C├óu hß╗Åi 1 ─æß╗â kiß╗âm tra kiß║┐n thß╗⌐c phß║ºn Giß╗¢i thiß╗çu kh├│a hß╗ìc?', '2026-06-26 14:22:07.449118');
INSERT INTO elearning.questions VALUES (2, 1, 'C├óu hß╗Åi 2 ─æß╗â kiß╗âm tra kiß║┐n thß╗⌐c phß║ºn Giß╗¢i thiß╗çu kh├│a hß╗ìc?', '2026-06-26 14:22:07.449118');
INSERT INTO elearning.questions VALUES (3, 1, 'C├óu hß╗Åi 3 ─æß╗â kiß╗âm tra kiß║┐n thß╗⌐c phß║ºn Giß╗¢i thiß╗çu kh├│a hß╗ìc?', '2026-06-26 14:22:07.449118');


--
-- Data for Name: quiz_attempts; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.quiz_attempts VALUES (1, 3, 1, 95.00, true, NULL, NULL);
INSERT INTO elearning.quiz_attempts VALUES (2, 3, 2, 95.00, true, NULL, NULL);
INSERT INTO elearning.quiz_attempts VALUES (3, 3, 3, 95.00, true, NULL, NULL);


--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.quizzes VALUES (1, 1, 'B├ái tß║¡p thß╗▒c h├ánh: Giß╗¢i thiß╗çu kh├│a hß╗ìc', 50, '2026-06-26 14:22:07.425831');
INSERT INTO elearning.quizzes VALUES (2, 2, 'B├ái tß║¡p thß╗▒c h├ánh: C├ái ─æß║╖t m├┤i tr╞░ß╗¥ng (JDK, NodeJS)', 50, '2026-06-26 14:22:07.425831');
INSERT INTO elearning.quizzes VALUES (3, 3, 'B├ái tß║¡p thß╗▒c h├ánh: T╞░ duy Fullstack', 50, '2026-06-26 14:22:07.425831');


--
-- Data for Name: reading_materials; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--



--
-- Data for Name: sections; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.sections VALUES (1, 1, 'Ch╞░╞íng 1: Lß╗Ö tr├¼nh & T╞░ duy', 1, '2026-06-26 14:22:07.390689', '2026-06-26 14:22:07.390689');
INSERT INTO elearning.sections VALUES (2, 1, 'Ch╞░╞íng 2: Java Core C╞í Bß║ún', 2, '2026-06-26 14:22:07.390689', '2026-06-26 14:22:07.390689');
INSERT INTO elearning.sections VALUES (3, 1, 'Ch╞░╞íng 3: Lß║¡p tr├¼nh H╞░ß╗¢ng ─æß╗æi t╞░ß╗úng OOP', 3, '2026-06-26 14:22:07.390689', '2026-06-26 14:22:07.390689');


--
-- Data for Name: system_activities; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.users VALUES (1, 'Hß╗ç Thß╗æng Quß║ún Trß╗ï', 'superadmin@gmail.com', '$2b$12$Zutn2PNNPe7RRNpi3XQxaekoQKWwe8pt87q6d29pl.jclngkfFMs2', 1, '0900000000', '1980-01-01', 'ROLE_SUPER_ADMIN', true, '2026-06-26 14:22:07.344993', '2026-06-26 14:22:07.344993');
INSERT INTO elearning.users VALUES (2, 'Admin EduFlow', 'admin@gmail.com', '$2a$10$XzeG4w4SvJBFlXRU1UVsM.N7mgmTRcJuTAQGqrFw.wBQFWHpqIz9C', 1, '0901000001', '1990-01-01', 'ROLE_ADMIN', true, '2026-06-26 14:22:07.344993', '2026-06-26 14:22:07.344993');
INSERT INTO elearning.users VALUES (4, 'Trß║ºn Thß╗ï Thß║úo', 'thao.tran@gmail.com', '$2a$10$xn3LI/AjqicFYZFruSwve.681477XaVNaUQbr1gioaWPn4t1KsnmG', 2, '0901444555', '2000-05-20', 'ROLE_STUDENT', true, '2026-06-26 14:22:07.344993', '2026-06-26 14:22:07.344993');


--
-- Data for Name: videos; Type: TABLE DATA; Schema: elearning; Owner: elearning_user
--

INSERT INTO elearning.videos VALUES (1, 1, 'YOUTUBE', NULL, 'https://www.youtube.com/watch?v=ztHopE5Wnpc', 16, '2026-06-26 14:22:07.417667');
INSERT INTO elearning.videos VALUES (2, 2, 'YOUTUBE', NULL, 'https://www.youtube.com/watch?v=8SGI_WEzVug', 17, '2026-06-26 14:22:07.417667');
INSERT INTO elearning.videos VALUES (3, 3, 'YOUTUBE', NULL, 'https://www.youtube.com/watch?v=her_7pa0vrg', 18, '2026-06-26 14:22:07.417667');


--
-- Name: answers_answer_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.answers_answer_id_seq', 4640, true);


--
-- Name: categories_category_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.categories_category_id_seq', 6, true);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.courses_course_id_seq', 6, true);


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.enrollments_enrollment_id_seq', 8, true);


--
-- Name: files_file_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.files_file_id_seq', 11, true);


--
-- Name: lesson_assets_asset_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.lesson_assets_asset_id_seq', 58, true);


--
-- Name: lesson_progress_progress_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.lesson_progress_progress_id_seq', 26, true);


--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.lessons_lesson_id_seq', 58, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.notifications_notification_id_seq', 2, true);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.payments_payment_id_seq', 7, true);


--
-- Name: questions_question_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.questions_question_id_seq', 1160, true);


--
-- Name: quiz_attempts_attempt_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.quiz_attempts_attempt_id_seq', 15, true);


--
-- Name: quizzes_quiz_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.quizzes_quiz_id_seq', 58, true);


--
-- Name: reading_materials_material_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.reading_materials_material_id_seq', 1, true);


--
-- Name: sections_section_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.sections_section_id_seq', 18, true);


--
-- Name: system_activities_activity_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.system_activities_activity_id_seq', 1, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.users_user_id_seq', 11, true);


--
-- Name: videos_video_id_seq; Type: SEQUENCE SET; Schema: elearning; Owner: elearning_user
--

SELECT pg_catalog.setval('elearning.videos_video_id_seq', 58, true);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (answer_id);


--
-- Name: categories categories_category_name_key; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.categories
    ADD CONSTRAINT categories_category_name_key UNIQUE (category_name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (course_id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (enrollment_id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (file_id);


--
-- Name: lesson_assets lesson_assets_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_assets
    ADD CONSTRAINT lesson_assets_pkey PRIMARY KEY (asset_id);


--
-- Name: lesson_progress lesson_progress_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_progress
    ADD CONSTRAINT lesson_progress_pkey PRIMARY KEY (progress_id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (lesson_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: payments payments_transaction_code_key; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.payments
    ADD CONSTRAINT payments_transaction_code_key UNIQUE (transaction_code);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (question_id);


--
-- Name: quiz_attempts quiz_attempts_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quiz_attempts
    ADD CONSTRAINT quiz_attempts_pkey PRIMARY KEY (attempt_id);


--
-- Name: quizzes quizzes_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quizzes
    ADD CONSTRAINT quizzes_pkey PRIMARY KEY (quiz_id);


--
-- Name: reading_materials reading_materials_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.reading_materials
    ADD CONSTRAINT reading_materials_pkey PRIMARY KEY (material_id);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (section_id);


--
-- Name: system_activities system_activities_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.system_activities
    ADD CONSTRAINT system_activities_pkey PRIMARY KEY (activity_id);


--
-- Name: sections uq_course_section_order; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.sections
    ADD CONSTRAINT uq_course_section_order UNIQUE (course_id, section_order);


--
-- Name: lessons uq_section_lesson_order; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lessons
    ADD CONSTRAINT uq_section_lesson_order UNIQUE (section_id, lesson_order);


--
-- Name: enrollments uq_student_course; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.enrollments
    ADD CONSTRAINT uq_student_course UNIQUE (student_id, course_id);


--
-- Name: lesson_progress uq_student_lesson; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_progress
    ADD CONSTRAINT uq_student_lesson UNIQUE (student_id, lesson_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: videos videos_pkey; Type: CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.videos
    ADD CONSTRAINT videos_pkey PRIMARY KEY (video_id);


--
-- Name: idx_files_type; Type: INDEX; Schema: elearning; Owner: elearning_user
--

CREATE INDEX idx_files_type ON elearning.files USING btree (file_type);


--
-- Name: idx_notification_user; Type: INDEX; Schema: elearning; Owner: elearning_user
--

CREATE INDEX idx_notification_user ON elearning.notifications USING btree (user_id, is_read);


--
-- Name: idx_users_email; Type: INDEX; Schema: elearning; Owner: elearning_user
--

CREATE INDEX idx_users_email ON elearning.users USING btree (email);


--
-- Name: system_activities fk_activity_actor; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.system_activities
    ADD CONSTRAINT fk_activity_actor FOREIGN KEY (actor_id) REFERENCES elearning.users(user_id) ON DELETE SET NULL;


--
-- Name: answers fk_answer_question; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.answers
    ADD CONSTRAINT fk_answer_question FOREIGN KEY (question_id) REFERENCES elearning.questions(question_id) ON DELETE CASCADE;


--
-- Name: lesson_assets fk_asset_file; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_assets
    ADD CONSTRAINT fk_asset_file FOREIGN KEY (file_id) REFERENCES elearning.files(file_id);


--
-- Name: lesson_assets fk_asset_lesson; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_assets
    ADD CONSTRAINT fk_asset_lesson FOREIGN KEY (lesson_id) REFERENCES elearning.lessons(lesson_id) ON DELETE CASCADE;


--
-- Name: quiz_attempts fk_attempt_quiz; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quiz_attempts
    ADD CONSTRAINT fk_attempt_quiz FOREIGN KEY (quiz_id) REFERENCES elearning.quizzes(quiz_id);


--
-- Name: quiz_attempts fk_attempt_student; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quiz_attempts
    ADD CONSTRAINT fk_attempt_student FOREIGN KEY (student_id) REFERENCES elearning.users(user_id);


--
-- Name: courses fk_course_category; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.courses
    ADD CONSTRAINT fk_course_category FOREIGN KEY (category_id) REFERENCES elearning.categories(category_id);


--
-- Name: courses fk_course_instructor; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.courses
    ADD CONSTRAINT fk_course_instructor FOREIGN KEY (instructor_id) REFERENCES elearning.users(user_id);


--
-- Name: courses fk_course_thumbnail; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.courses
    ADD CONSTRAINT fk_course_thumbnail FOREIGN KEY (thumbnail_file_id) REFERENCES elearning.files(file_id);


--
-- Name: enrollments fk_enrollment_course; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.enrollments
    ADD CONSTRAINT fk_enrollment_course FOREIGN KEY (course_id) REFERENCES elearning.courses(course_id);


--
-- Name: enrollments fk_enrollment_student; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.enrollments
    ADD CONSTRAINT fk_enrollment_student FOREIGN KEY (student_id) REFERENCES elearning.users(user_id);


--
-- Name: lessons fk_lesson_section; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lessons
    ADD CONSTRAINT fk_lesson_section FOREIGN KEY (section_id) REFERENCES elearning.sections(section_id) ON DELETE CASCADE;


--
-- Name: reading_materials fk_material_lesson; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.reading_materials
    ADD CONSTRAINT fk_material_lesson FOREIGN KEY (lesson_id) REFERENCES elearning.lessons(lesson_id) ON DELETE CASCADE;


--
-- Name: notifications fk_notification_activity; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.notifications
    ADD CONSTRAINT fk_notification_activity FOREIGN KEY (activity_id) REFERENCES elearning.system_activities(activity_id) ON DELETE SET NULL;


--
-- Name: notifications fk_notification_user; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.notifications
    ADD CONSTRAINT fk_notification_user FOREIGN KEY (user_id) REFERENCES elearning.users(user_id) ON DELETE CASCADE;


--
-- Name: payments fk_payment_course; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.payments
    ADD CONSTRAINT fk_payment_course FOREIGN KEY (course_id) REFERENCES elearning.courses(course_id);


--
-- Name: payments fk_payment_student; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.payments
    ADD CONSTRAINT fk_payment_student FOREIGN KEY (student_id) REFERENCES elearning.users(user_id);


--
-- Name: lesson_progress fk_progress_lesson; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_progress
    ADD CONSTRAINT fk_progress_lesson FOREIGN KEY (lesson_id) REFERENCES elearning.lessons(lesson_id);


--
-- Name: lesson_progress fk_progress_student; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.lesson_progress
    ADD CONSTRAINT fk_progress_student FOREIGN KEY (student_id) REFERENCES elearning.users(user_id);


--
-- Name: questions fk_question_quiz; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.questions
    ADD CONSTRAINT fk_question_quiz FOREIGN KEY (quiz_id) REFERENCES elearning.quizzes(quiz_id) ON DELETE CASCADE;


--
-- Name: quizzes fk_quiz_lesson; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.quizzes
    ADD CONSTRAINT fk_quiz_lesson FOREIGN KEY (lesson_id) REFERENCES elearning.lessons(lesson_id) ON DELETE CASCADE;


--
-- Name: sections fk_section_course; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.sections
    ADD CONSTRAINT fk_section_course FOREIGN KEY (course_id) REFERENCES elearning.courses(course_id) ON DELETE CASCADE;


--
-- Name: users fk_users_avatar; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.users
    ADD CONSTRAINT fk_users_avatar FOREIGN KEY (avatar_file_id) REFERENCES elearning.files(file_id);


--
-- Name: videos fk_video_file; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.videos
    ADD CONSTRAINT fk_video_file FOREIGN KEY (video_file_id) REFERENCES elearning.files(file_id);


--
-- Name: videos fk_video_lesson; Type: FK CONSTRAINT; Schema: elearning; Owner: elearning_user
--

ALTER TABLE ONLY elearning.videos
    ADD CONSTRAINT fk_video_lesson FOREIGN KEY (lesson_id) REFERENCES elearning.lessons(lesson_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict rYooZTqGKHyeABIDiFlncj83PTaHBJYNtEFizg6BIl9fBcrAw7XOVSK7PuOy4VB

